# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle 
DATABASE_URL='postgres://YOUR_DATABASE_URL_HERE'

NEXT_PUBLIC_APP_URL='http://localhost:3000'

# The callback URL for Oauth is localhost:3000/login/discord/callback
# Obviously replace localhost and port if you are using this in a production environment.

GITHUB_CLIENT_ID='discord_client_id'
GITHUB_CLIENT_SECRET='discord_client_secret'

GOOGLE_CLIENT_ID='discord_client_id'
GOOGLE_CLIENT_SECRET='discord_client_secret'

DISCORD_CLIENT_ID='discord_client_id'
DISCORD_CLIENT_SECRET='discord_client_secret'
