{
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "singleQuote": false,
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "importOrder": [
    "server-only",
    "<THIRD_PARTY_MODULES>",
    "^@/db",
    "^@/data-access",
    "^@/use-cases",
    "^@/entities",
    "^@/lib/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
